<div class="popover-container" [ngStyle]="{ 'top': offsetTop + 'px', 'left': offsetLeft + 'px' }">
  <div class="btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel (change)="changeBold.emit(isBold)">
      <input type="checkbox" ngbButton [(ngModel)]="isBold">
      <i class="fas fa-bold"></i>
    </label>
    <label class="btn-primary" ngbButtonLabel (change)="changeItalic.emit(isItalic)">
      <input type="checkbox" ngbButton [(ngModel)]="isItalic">
      <i class="fas fa-italic"></i>
    </label>
    <label class="btn-primary" ngbButtonLabel (change)="changeUnderline.emit(isUnderline)">
      <input type="checkbox" ngbButton [(ngModel)]="isUnderline">
      <i class="fas fa-underline"></i>
    </label>
  </div>
</div>
