<div class="container main-container">
  <div class="content">
    <ng-container *ngIf="textEditMode">
      <div class="form-group">
        <textarea class="form-control" [(ngModel)]="text" cols="30" rows="10"></textarea>
      </div>
      <button class="btn-primary btn" (click)="toggleModes()">Apply text</button>
    </ng-container>

    <ng-container *ngIf="!textEditMode">
      <div class="text-block-container">
        <div class="text-block" appTextFormatter>{{ text }}</div>
      </div>
      <button class="btn-primary btn" (click)="toggleModes()">Edit text</button>
    </ng-container>
  </div>
</div>
