.main-container {
  margin-top: 24px;
}

.content {
  padding: 24px;
  box-shadow: 0 0 8px 0px rgba(53, 53, 53, 0.5);
  background-color: rgba(218, 211, 0, 0.15);
}

.btn {
  border-radius: 4px;
  width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 16px auto;
  display: block;
  padding: 8px 0;
}
